@model SereneTest15._1.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your SereneTest15._1 password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on SereneTest15._1.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "SereneTest15._1" Team
</body>
</html>